<% if object.errors.any? %>
  <div id="error_explanation" class="error-explanation">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <script>
          toastr.error("<%= message %>");
        </script>
      <% end %>
    </ul>
  </div>
<% end %>
